flows.json
[{"id":"db20415b.76514","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ef649bd.54a466","type":"inject","z":"db20415b.76514","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["d9b89c24.837e3"]]},{"id":"d9b89c24.837e3","type":"debug","z":"db20415b.76514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":160,"wires":[]},{"id":"c6f919ad.a41328","type":"inject","z":"db20415b.76514","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":210,"wires":[["d9b89c24.837e3"]]}]