yaskXgateway.json
[{"id":"8eb36f8a.47488","type":"tab","label":"page1","disabled":false,"info":""},{"id":"6b1f4e2f.51ef6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4abcef78.48668","type":"inject","z":"8eb36f8a.47488","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["266957db.318ce8"]]},{"id":"266957db.318ce8","type":"debug","z":"8eb36f8a.47488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":200,"wires":[]},{"id":"9278a8c4.63f5e8","type":"inject","z":"8eb36f8a.47488","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":310,"wires":[["266957db.318ce8"]]},{"id":"ddd19094.dac26","type":"comment","z":"6b1f4e2f.51ef6","name":"comment","info":"","x":150,"y":100,"wires":[]}]